[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pmetar"]
	path = pmetar
	url = https://github.com/prcwiek/pmetar
	shallow = true
	registered = true
